@import url(https://fonts.googleapis.com/css?family=Roboto);

$mq:(
  mobile : 320px,
  tablet : 768px,
  desktop: 1024px,
  wide   : 1280px
);

* {
  box-sizing: border-box
}

body {
  background: #eee;
  font-size: responsive 13px 16px;
  font-range: map-get($mq, 'mobile') map-get($mq, 'wide');
  font-family: 'Roboto', sans-serif;
}

figure {
  margin: 0;
}

img {
  width: 100%;
  max-width: 100%;
}

h1 {
  border-bottom: 1px solid #dcdcdc;
  padding-bottom: 20px;
  padding-left: 1%;
  padding-right: 1%;
  text-align: center;
}

h2 {
  font-size: 20px;
  line-height: 20px;
}

h3 {
  color: #999;
  font-size: 14px;
  line-height: 14px;
}

a {
  text-decoration: none;
}

%is-not-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.gabba-main {}

.gabba-posts {
  @extend %is-not-list;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &:hover {
    li {
      box-shadow: none;
    }
  }

  li {
    transform: translate3d(0,0,0);
    transition: all 300ms ease-in-out;
    background: #fff;
    flex: 0 1 23%;
    margin: 1%;
    padding: 1%;

    img {
      cursor: pointer;
    }

    &:hover {
      transform: scale(1.1);
      opacity: 1;
      box-shadow: 3px 3px 5px -2px rgba(153,153,153,1);
    }
  }
}

.gabba-player-content {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: #000;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  iframe {
    width: 90%;
    height: 90%;
    border: 0;
  }

  &.is-opened {
    display: flex;
  }
}

.gabba-posts-nav {
  display: flex;
  justify-content: center;
  margin: 40px 0;

  button {
    border: 0;
    cursor: pointer;
    background: #333;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    outline: 0;
  }
}

.gabba-loading {
  display: flex;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
}