<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>1.Gabba Crawler</title>
</head>
<body>
  <div id="content"></div>
  <main class="gabba-main">
    <ul class="gabba-posts">
      <li class="gabba-posts-item">
        <figure>
          <img src="https://placeimg.com/100/100/people" alt="">
          <h2>Title</h2>
          <a href="#">url to download</a>
        </figure>
      </li>
      <li class="gabba-posts-item">
        <figure>
          <img src="https://placeimg.com/100/100/people" alt="">
          <h2>Title</h2>
          <a href="#">url to download</a>
        </figure>
      </li>
      <li class="gabba-posts-item">
        <figure>
          <img src="https://placeimg.com/100/100/people" alt="">
          <h2>Title</h2>
          <a href="#">url to download</a>
        </figure>
      </li>
      <li class="gabba-posts-item">
        <figure>
          <img src="https://placeimg.com/100/100/people" alt="">
          <h2>Title</h2>
          <a href="#">url to download</a>
        </figure>
      </li>
    </ul>
  </main>
</body>
</html>
